body{
    
margin: 0;
padding:0;
}
.bloco{
 
    background-repeat: no-repeat;
    background-image: url("./b.svg");
    width: 90vw;
    height: 20000px;
    margin-left: 3%;
    margin: ;
   

}
.logo{
    
   display: flex;
    justify-content: center;
    color: white;
    
}
.Sell{
    
    margin-left: 40vw;
    color: white;
   
}
.box{

    margin-left: 40vw;
  color: white;
}

